@mixin card-list($num:4, $height:auto, $space:10, $border-width: 1px) {
  $card-width:($width - ($num - 1) * $space) / $num -$border-width * 2;
  $card-width:floor($number: $card-width);

  margin-left: -1 * $space;
  li{
    float: left;
    margin-left: $space;
    width: $card-width;
    height: $height;
    background: $white;
    border: $border-width solid #F1F1F1;
  }
}

.more-message{
  &:hover{
    color: $orange;
  }
}

.pop-message{
  padding: 0 20px;
  &-title{
    color: #000;
  }
  &-content{
    margin-top: 5px; 
    color: #666;
  }
  &-footer{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    a{
      padding: 0 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 32px;
      color: $white;
      background: $orange;
      cursor: pointer;
    }
  }
}

.page-index{
  position: relative;
  padding-top:100px;
  .swiper{
    position: relative;
    top:-100px;
    &-item{
      position: relative;
      height: 640px;
      overflow: hidden;
      color: $white;
      background-position: center; 
      background-repeat: no-repeat;
      &-detail{
        width: $width;
        margin: 0 auto;
        h2{
          margin-top: 228px;
          line-height: 60px;
          font-size:60px;
        }
        p{
          margin-top: 10px;
          width: 520px;
          line-height: 20px;
          span{
            margin: 0 10px;
          }
        }
        &-desc{
          margin-top: 10px;
        }
        &-tips{
          margin-top: 20px;
        }
        .split{
          margin-top: 10px;
          width: 520px;
          height: 1px;
          background: $white;
          opacity: .3;
        }
      }
    }
  }
  .product-features{
    background: $white;
    &-container{
      position: relative;
      width: $width;
      margin: 0 auto;
      margin-top:-170px;
    }
    ul{
      @include card-list(4, 140px, 0 , 0);
      li{
        position: relative;
        color: $white;
        overflow: hidden;
        &:hover{
          img{
            transform: scale(1.2);
          }
        }
        img{
          position: absolute;
          left: 0;
          top: 0;
          z-index: 0;
          transition: all .5s;
        }
        h4{
          position: relative;
          padding: 15px 30px 0;
          margin-top: 25px;
          line-height: 20px;
          font-size: 20px;
          font-weight: bold;
          &:before{
            content: '';
            position: absolute;
            left: 30px;
            top: 0;
            width: 40px;
            height: 4px;
            border-radius: 2px;
            background: $white;
          }
        }
        p{
          position: relative;
          padding: 0 30px;
          margin-top: 5px;
          line-height: 18px;
          font-size: 12px;
          text-align: justify;
          z-index:1;
        }
      }
    }
  }
  .product-service{
    .scf-tabs-titles{
      li{
        width: 120px;
        text-align: center;
        margin-right: 10px;
        &.active{
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
    .product-detail{
      color: #222;
      &-left{
        float: left;
        width: 390px;
        height: 270px;
        img{
          transition: all .3s;
          &:hover{
            transform: scale(1.05);
          }
        }
      }
      &-right{
        float: right;
        width: 530px;
        h3{
          position: relative;
          margin-top: 13px;
          height: 62px;
          line-height: 96px;
          font-size: 30px;
          font-weight: bold;
          background: url(./images/quote.png) no-repeat;
          background-position: top left;
        }
        p{
          height: 40px;
          line-height: 20px;
          margin-top: 7px;
        }
        .tips{
          margin-top: 20px;
          li{
            margin-right: 68px;
            display: inline-block;
            text-align: center;
            i{
              display: inline-block;
              width: 40px;
              height: 40px;
              background: url(https://cnbj3-fusion.fds.api.xiaomi.com/scf/static_resources/1565764573440/2134518703.png);
            }
            @for $i from 1 through 15
            {
              .tip-icon-#{$i}
              {
                background-position: #{-1 * (($i - 1) % 4) * 40}px #{-1 * floor(($i - 1)/4) * 40}px;
              }
            }
            span{
              display: block;
              color: #333;
            }
          }
        }
        .bottom{
          margin-top: 20px;
          margin-left: -12px;
        }
      }
    }
  }
  .securities{
    @include card-list(3, 390px, 20px , 1px);
    li{
      color: #333;
      text-align: center;
      transition: all .3s;
      &:hover{
        box-shadow:0px 4px 30px -6px rgba(0,0,0,0.14),0px 4px 7px -4px rgba(0,0,0,0.1);
      }
      img{
        margin-top: 27px;
        width: 120px;
      }
      h4{
        position: relative;
        padding-top: 20px;
        line-height: 26px;
        font-size: 26px;
        font-weight: bold;
        &:before{
          content: '';
          position: absolute;
          left: 50%;
          top: 0;
          margin-left: -40px;
          width: 80px;
          height: 4px;
          border-radius: 2px;
          background: #333;
        }
      }
      p{
        padding: 0 30px;
        margin-top: 20px;
        line-height: 18px;
        font-size: 16px;
        line-height: 26px;
        text-align: justify;
      }
    }
  }
  .process{
    &-left{
      float: left;
      padding-top: 95px; 
      width: 300px;
      h4{
        position: relative;
        padding-top:20px; 
        font-size: 30px;
        color: #222;
        line-height: 39px;
        margin-bottom: 32px;
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 40px;
          height: 6px;
          border-radius: 3px; 
          background: $orange;
        }
        &:after{
          content: '';
          position: absolute;
          left: 45px;
          top: 0;
          width: 10px;
          height: 6px;
          border-radius: 3px; 
          background: $orange;
        }
      }
    }
    &-right{
      float: right;
      .product-financing-process{
        li{
          position: relative;
          margin-left: 15px;
          float: left;
          width: 158px;
          height: 318px;
          text-align: center;
          border: 1px solid #F1F1F1;
          transition: all .3s;
          &:hover{
            box-shadow:0px 4px 30px -6px rgba(0,0,0,0.14),0px 4px 7px -4px rgba(0,0,0,0.1);
          }
          i{
            margin: 10px 0;
            width:45px;
            height:46px;
            line-height:46px;
            font-size:40px;
            color:#DEDEDE;
          }
          p{
            height:20px;
            line-height: 20px;
            font-size:20px;
            font-weight: bold;
          }
        }
      }
    }
  }
}